/* Container for the 404 content */
.not-found-content {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Fancy 404 */
.fancy-404 {
  font-size: 10rem;
  /* Large size */
  font-weight: bold;
  color: var(--purple-color);
  /* Gradient color */
  background: linear-gradient(to right, var(--purple-color), var(--pink-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem 0;
  width: fit-content;
}

/* Text under 404 */
.not-found-text {
  margin-top: 1rem;
}