<app-page-container [title]="'Choose your loan'" [authenticated]="true">
  <app-loader *ngIf="fetchingLoans"></app-loader>
  <div class="loan-content" *ngIf="!fetchingLoans">
    <div class="list-container" [ngClass]="{ hide: selectedLoanId !== null }">
      <div *ngFor="let loan of loans">
        <app-loan-list-item
          [id]="loan.id"
          [name]="loan.name"
          [description]="loan.description"
          [isSelected]="loan.id === selectedLoanId"
          (clicked)="onPickLoan($event)"
        ></app-loan-list-item>
      </div>
    </div>
    <div class="form-container">
      <app-loan-form
        [selectedLoanId]="selectedLoanId"
        [name]="selectedLoanName"
        [description]="selectedLoanDescription"
        (clicked)="onDeselectLoan()"
      ></app-loan-form>
    </div>
  </div>
</app-page-container>
