.loan-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 1rem;
}

.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    gap: 1.8rem;
}

@media (max-width: 900px) {
    .loan-content {
        grid-template-columns: 1fr;
    }

    .hide {
        display: none;
    }
}